@import url(/src/CSS/normalize.css);

html {
    overflow-x: hidden;
    overflow-y: hidden;
    user-select: none;
}

.page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    font-family: 'Roboto', sans-serif;
    font-family: 'Sofia Sans', sans-serif;
    
    background-color: #8f7e73;
}

/* HEADER */
.header {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.navbar-link {
    color: #FFF;
    font-size: 1.2em;
    text-decoration: none;
}

.navbar-link:last-child {
    margin-left: 20px;
}

/* MAIN */
.container {
    display: flex;
    gap: 4vmin;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
}

.img {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: center;
}